* {
  margin:0;
  padding:0;
} 

body {
  font-family: 'Open Sans';
  color: #666f73;
  border: none;
}

.app {
  background-color: rgb(220, 224, 228);
}

.render-menu {
  height: calc(100vh - 70px);
}

.content {
  color: #d8d8d8;;
  width: 75%;
}

.welcome-text {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}

.my-form {
  background-color: rgba(39, 42, 51, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.356);
  border-radius: 10px;
  box-sizing: border-box; 
  margin: 4em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 2em;
  display: 'block';
  align-content: center;
}

.button-create {
  text-align: center;
  padding-bottom: 2em;
}

.form-row {
  margin-left: 4em;
  height: 10%;
}

.form-text {
  font-size: 1em;
  color: #d8d8d8;
  margin-bottom: 1em;
}

.picklist-users {
  width: 80%;
  margin-left: 1em;
  margin-bottom: 2em;
  display: 'block';
  margin-left: auto;
  margin-right: auto;
}

body .p-button {
  border: #FF7F28;
}

.p-picklist-buttons span {
  background-color: #FF7F28;
}

.p-picklist-buttons button{
  border: none !important;
}

.div-input {
  width: 96%;
}

.div-input-double {
  width: 46%;
}

.div-input-second {
  margin-left: 2em;
}

.div-button-bot {
  margin-left: 4em;
  margin-bottom: 3em;
}

.div-input-bot {
  margin-left: 2em;
}

.div-button-send {
  margin-top: 1em;
  margin-bottom: 2em;
  /* display: 'block';
  margin: '0 auto'; */
}

.footer {
  height: 70px;
  background: rgba(30, 30, 30, 0.8);
  background-image: url('../../Assets/ncdc-logo.png');
  background-repeat: no-repeat;
  background-size: 13em;
  background-position: right;
}

@media only screen and (max-width: 1024px) {
  .height1{
    height: 60px;
    background: rgba(30,30,30,0.8);
  }
  .height2{
    height: calc(100vh - 60px);
    width: 100%;
  }
  .footer{
    display:none;
  }
}

@media only screen and (max-width: 600px) {
  [class*="my-form"] {
      background-color: #fff;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: 10px;
  }
  [class*="form-"] {
      margin-left: 0;
  }
}
