* {
    margin: 0;
    padding: 0;
  }

  .div-app-show input[type="text"] {
    margin-top: 2%;
    margin-left: 4%;
    height: 30px;
  }

  .footer {
    height: 70px;
    background: rgba(30, 30, 30, 0.8);
    background-image: url('../../Assets/ncdc-logo.png');
    background-repeat: no-repeat;
    background-size: 13em;
    background-position: right;
  }

  .wow:first-child {
    visibility: hidden;
  }

  a{
    text-decoration: none;
    color: white;
  }

  a:visited{
    color: white;
  }

  .userCard {
    margin-top:5%;
    margin-left:5%;
    float:left;
    -webkit-box-shadow: 9px 10px 12px -7px #ff7324;
    -moz-box-shadow: 9px 10px 12px -7px #ff7324;
    box-shadow: 9px 10px 12px -7px #ff7324;
    border-radius: 5px;
    border: 1px solid white;
    color:rgb(255, 255, 255);
    font-family: 'Open Sans';
    height: 240px;
  }

  .div-app-show myBbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 18px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    bottom: -8px;
  }
  .div-app-show .myBbuttonTeam {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 0px 3px 0px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px!important;
    margin: 4px 2px!important;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    width:96%!important;
  }
  .div-app-show .button1Team {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    border-color: transparent!important;
  }
  .p-button {
    border-color: transparent!important;
  }

  .div-app-show .button1Team:hover {
    background-color: #ff7324!important;
    color: black;
    box-shadow: 9px 10px 12px -7px #ff7324!important;
    -webkit-box-shadow: -1px 2px 44px -2px #ff7324!important;
    -moz-box-shadow: -1px 2px 44px -2px #ff7324!important;
    box-shadow: -1px 2px 44px -2px #ff7324!important;
  }

  .div-app-show .button1 {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    margin-right: 15%!important;
  }

  .div-app-show .button1:hover {
    background-color: #ff7324!important;
    color: black;
    box-shadow: 9px 10px 12px -7px #ff7324!important;
    -webkit-box-shadow: -1px 2px 44px -2px #ff7324!important;
    -moz-box-shadow: -1px 2px 44px -2px #ff7324!important;
    box-shadow: -1px 2px 44px -2px #ff7324!important;
  }

  .div-app-show .button3 {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
  }

  .div-app-show .button3:hover {
    background-color: #ff7324!important;
    color: black;
    box-shadow: 9px 10px 12px -7px #ff7324!important;
    -webkit-box-shadow: -1px 2px 44px -2px #ff7324!important;
    -moz-box-shadow: -1px 2px 44px -2px #ff7324!important;
    box-shadow: -1px 2px 44px -2px #ff7324!important;
  }

  .div-app-show a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  .div-app-show .button3 {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
  }

  .div-app-show .button3:hover {
    background-color: #ff7324;
    color: black;
    -webkit-box-shadow: -1px 2px 44px -2px #ff7324;
    -moz-box-shadow: -1px 2px 44px -2px #ff7324;
    box-shadow: -1px 2px 44px -2px #ff7324;
  }
  /*user card*/

  .div-app-show .post-module {
    position: relative;
    text-align: center;
    z-index: 1;
    display: block;
    min-width: 270px;
    height: 273px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    font-family: 'Open Sans';

  }

  .post-module hover {
    height: 238px;
  }

  .post-module .post-content {
    position: absolute;
    background: rgba(51,51,51,0.6);
    width: 100%;
    height: 238px;
    padding-top:50px;
    padding-bottom:2px;
    padding-left:1px;
    padding-right:1px;
}
  .post-module .post-content .category {
    position: absolute;
    top: -15px;
    left: -18px;
    padding:0px;
    background: #ff7324;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 18px;
  }
  .post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: white;
    font-size: 26px;
    font-weight: 700;
  }
  .post-module .post-content .sub_title {
    margin: 0;
    padding: 0 0 20px;
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
  .post-module .post-content .description {
    display: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.8em;
  }
  .post-module .post-content .post-meta {
    margin: 5px;
    color: #999999;
  }

  .hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
  }

   .column {
    width: 24%;
    padding-left:50px;
    padding-top: 67px;
    padding-bottom: 35px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
  }

  /*end user card*/
  @media only screen and (max-width: 1024px) {
      .height1{
        height: 70px;
      }
      .menu{
        display:none;
      }
  }
