* {
  margin: 0;
  padding: 0;
}

body{
  background-image: url('../Assets/backgroundfullhd.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.height1{
  height: calc(100vh - 70px);
}

.height2{
  height: calc(100vh - 70px);
  overflow: auto;
}

.footer{
  background: rgba(30,30,30,0.8);
}


@media only screen and (max-width: 1024px) {
    .height1{
      height: 60px;
      background: rgba(30,30,30,0.8);
    }
    .height2{
      height: calc(100vh - 60px);
    }
    .footer{
      display:none;
    }
  }
