.main-label{
  font-family: 'Hammersmith One';
  font-size: 4em;
  color: white;
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
  text-align: center;
  margin-top: 10%;
}

.main-button{
  width: 40%;
  height: 70px;
  background-color: #ff7324;
  margin: 0 auto;
  -webkit-box-shadow: 3px 2px 15px -1px rgba(0,0,0,0.62);
  -moz-box-shadow: 3px 2px 15px -1px rgba(0,0,0,0.62);
  box-shadow: 3px 2px 15px -1px rgba(0,0,0,0.62);
  text-align: center;
  color: white;
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
  font-family: 'Hammersmith One';
  font-size: 2em;
  vertical-align: middle;
  line-height: 70px;
  letter-spacing: 3px;
  margin-top: 10px;
}

.bracket{
  width: 44vw;
  height: 35vh; /*35vh*/
  margin: 0 auto;
  margin-top: 50px;
  background: rgba(50,50,50,0.5);
  background-image: url('bracket.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-button:hover{
  background-color: #f05700;
  border-color: #e65300;
}


@media only screen and (max-width: 1024px) {
    .bracket{
      display: none;
    }
}

@media only screen and (max-width: 700px) {
    .main-button{
      width: 70%;
    }
}
