.ui-picklist {
    text-align: center;
}

.div-create-bot {
    width: 360px;
    height: 40px;
}
.titlee{ /*main menu title style */
    color: white;
  font-size: 60px;
  font-family: fantasy;
  padding-top: 26px;
  margin-bottom: 60px;
  }
.checkbox-create-bot {
    width: 20px;
    height: 20px;
    float:right;
    margin-top: 20px;
    margin-left: 20px;
}

.button-main-menu {
    display: block;
    width: 300px;
    height: 60px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #808080;
    font-family: fantasy;
    color: white;
    font-size: 23px;
    border: none;
}
.button-main-menu:hover{
    background-color: #505050;
    box-sizing: border-box;
    border: 3px solid #808080;
  }

.button-add-users {
    margin-top: 10px;
    background-color: #303030;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.div-app-main {
  width: 600px;
  height: 800px;
  background-color: #333333;
  margin: 0 auto;
  text-align: center;
  padding-top: 3px;
}

.div-app {
    text-align: center;
}

.buttons {
    /* width: 200px; */
    margin: 0 auto;

}

.button-create-user {
    background-color: #303030;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
}

.button-show-users {
    background-color: #303030;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.users {
    width:1000px;
    height:80px;
}

.users-table {
    margin: 0 auto;
    margin-top: 40px;
    border-collapse: collapse;
    width: 80%;
}

.users-table td,.users-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.users-table tr:nth-child(even){background-color: #f2f2f2;}

.users-table tr:hover {background-color: #ddd;}

.users-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(158, 158, 158);
}

.div-create-user {
    text-align: center;
    margin-left: 100px;
}

.form-text {
    text-align: left;
    height: 10px;
}

.form-row {
    height: 80px;
    margin-bottom: 40px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.form {
    width:60%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
}
